body{
	background-image: url(../imgs/bg-degrade.png);
	background-size: 100%;
}

section#header {
    background: #ffffff;
    padding: 10px 0;
}

img.brand {
    max-width: 175px;
    margin-left: 45px;
}


img.header-text {
	padding: 50px 0;
    width: 360px;
}

.head {
    padding: 20px 40px;
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-position: center;
}

.logos {
    padding: 0px 30px;
    position: relative;
    top: -50px;
    margin-bottom: -30px;
}


.logos .owl-item {
    box-shadow: 2px 2px 10px 0px #4e4e4e;
}


.cta{
	margin-left: 30px;
}

@media (max-width: 991px){
	.logos ul li {
		width: 49%;
	}
	
.cta {
    margin-left: 0px;
}
}